doctype
html(ng-app="myApp")
	head
		meta(charset='utf8')
		base(href='/')
		title Track My Bus
		link(rel="stylesheet", href="css/app.css")
		link(rel="stylesheet", href="http://wuxiaoying.github.io/angular-multilevelpushmenu/stylesheets/pushmenu.css")
		link(href="css/signin.css", rel="stylesheet")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css")
		link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
		link(href="http://www.ag-grid.com/dist/ag-grid.css?ignore=notused13", rel="stylesheet")
		link(href="http://www.ag-grid.com/dist/theme-fresh.css?ignore=notused13", rel="stylesheet")
	body
		block body

