extends layout
block body
	div(class="container")
		form(class="form-signin" method="post")
			h2(class="form-signin-heading") Please sign in
				label(for="inputEmail", class="sr-only")
					Email address
				input(type="email", id="inputEmail", name="email" class="form-control", placeholder="Email address", required, autofocus)
				label(for="inputPassword", class="sr-only") Password
				input(type="password", id="inputPassword", name= "password", class="form-control", placeholder="Password", required)
				br
				button(class="btn btn-lg btn-primary btn-block", type="submit") Sign in
				#error
					if error
						label.error #{error}
	|<!--[if lt IE 9]>
	|<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	|<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	|<![endif]-->
	|<script>document.body.style.background = "url(images/School-Wallpaper.jpg) no-repeat center center fixed"; 
	|document.body.style["-webkit-background-size"] = "cover";
	|document.body.style["-moz-background-size"]= "cover";
	|document.body.style["-o-background-size"]= "cover";
	|document.body.style["background-size"]=  "cover";</script>
